body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #10ac92;
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: #b8eee5;
}

button:hover {
    background-color: #1b8562;
    color: white;
}

.section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 3px 3px #33333380;
}